numpy
Pillow
fabric
requests
opencv-python
matplotlib
pynput
pyautogui
psutil
tqdm
pandas
flask
requests-toolbelt
lxml
cssselect
xmltodict
openpyxl
python-docx
python-pptx
pypdf
PyGetWindow
rapidfuzz
pyacoustid
pygame
opencv-python
ImageHash
scikit-image
pymupdf
chardet
playwright
backoff
formulas
pydrive
fastdtw
odfpy
openai
func-timeout
beautifulsoup4
dashscope
google-generativeai
PyYaml
mutagen
easyocr
borb
pypdf2
pdfplumber
wandb
wrapt_timeout_decorator
boto3
azure-identity
azure-mgmt-compute
azure-mgmt-network
docker
loguru
fastapi
uvicorn
uvloop
httptools
librosa
gymnasium
filelock
tldextract
chromadb>=0.5